<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
    body
{background-image: url('assets/css/images/甲斗/甲斗/5-120601095139-50.gif');}
.footer {
background-color: #25b1db;
padding: 1px;
text-align: center;
}
.bannerbox {
width:100%;
position:relative;
overflow:hidden;
height:200px;
}
.banner {
width:3000px;/*图片宽度*/
position:absolute;
left:50%;
margin-left:-1500px;/*图片宽度的一半*/
}
header ul
    { 
  background-color: black;}
header li
    {color: white;
    display:inline-block;}
    </style>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>